body {
    background-color: teal;
}
.flex {
    flex: 1;
}
.playboxdiv {
    background-color: grey;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.sprite {
    height: 50px;
    width: 50px;
}